<section>
    <a [routerLink]="['/posts']" class="btn btn-primary btn-lg">
        Ir a la lista de posts
    </a>
</section>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="container mt-5">
    <div class="form-group mb-3">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" formControlName="titulo" class="form-control" placeholder="Ingrese el título">
    </div>
    <div class="form-group mb-3">
        <label for="texto" class="form-label">Texto:</label>
        <textarea id="texto" formControlName="texto" class="form-control" placeholder="Ingrese el texto"></textarea>
    </div>
    <div class="form-group mb-3">
        <label for="autor" class="form-label">Autor:</label>
        <input type="text" id="autor" formControlName="autor" class="form-control" placeholder="Ingrese el autor">
    </div>
    <div class="form-group mb-3">
        <label for="imagen" class="form-label">Imagen:</label>
        <input type="text" id="imagen" formControlName="imagen" class="form-control"
            placeholder="Ingrese la URL de la imagen">
    </div>
    <div class="form-group mb-3">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="date" id="fecha" formControlName="fecha" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="categoria" class="form-label">Categoría:</label>
        <input type="text" id="categoria" formControlName="categoria" class="form-control"
            placeholder="Ingrese la categoría">
    </div>
    <button type="submit" class="btn btn-primary">Agregar Post</button>
</form>